<!doctype html>
<html lange="en-ca">
<head>
<meta charset="utf-8">
<title>Dinos 'R' Us</title>
<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/embed.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/header.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/footer.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-list-item.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product.css" rel="stylesheet">
</head>
<body>

{{content}}

</body>
</html>
